/*= GENERAL STYLING
--------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/slide1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: 50%;
}
.center {
  margin: 0 auto;
}
.content {
  margin: 0 auto;
  width: 960px;
}
.g-logo {
  width: 1.5em;
}

/*= SLIDES STYLING
--------------------------------------------------------*/
.slide {
  width: 100%;
  color: white;
  margin: 1em 0;
}

/*= COLORS 
--------------------------------------------------------*/
.my-orange-text {
  color: #f18f01;
}
.my-blue-text {
  color: #048ba8;
}
.my-grey-text {
  color: #2e4057;
}
.my-green-text {
  color: #99c24d;
}
.my-dark-text {
  color: #2f2d23;
}
.my-orange-background {
  background: #f18f01;
}
.my-blue-background {
  background: #048ba8;
}
.my-grey-background {
  background: #2e4057;
}
.my-green-background {
  background: #99c24d;
}
.my-dark-background {
  background: #2f2d23;
}
.my-black-background {
  background: black;
}

.my-title {
  font-size: 3em;
}

.wellfleet {
  font-family: "Wellfleet";
}

.fatface {
  font-family: "Abril Fatface", cursive;
}

.my-card {
  margin: 2em auto;
  width: 92%;
  background-color: hsla(0, 0%, 19%, 0.75);
  padding: 2em;
  border-radius: 0.5em;
}
.skills-container {
  text-align: center;
}
.skill-icon {
  height: 7.5em;
  margin: 0.5em;
}
.projet-card {
  margin-top: 1em;
  color: #333333;
  font-family: "Wellfleet";
  height: 54em;
}
.card-text {
  font-size: 1.75em;
}
.project-links {
  text-align: center;
  margin-bottom: 0.25em;
}
.project-icon {
  width: 4em;
  margin: 0.75em;
}
.profile-pic {
  width: 20em;
  border-radius: 12px;
}
.contact-container {
  font-family: "Wellfleet";
}
.fa {
  color: #333333;
  margin: 0.25em 1em;
}
.footer-card {
  background-color: hsla(0, 0%, 19%, 0.75);
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-radius: 0.5em;
}
